<section class="lists-gallery">
  <ng-container *ngIf="lists.length > 0; else noLists">
    <ng-container *ngFor="let list of lists">
      <app-lists-gallery-item
        class="my-2"
        [list]="list"
        (openSettings)="openSettings($event)"
        (removeItem)="removeList($event)"
      ></app-lists-gallery-item>
    </ng-container>
  </ng-container>
  <button mat-fab class="floating-button" color="primary" (click)="openConfigureListDialog()">
    <mat-icon>add</mat-icon>
  </button>
</section>

<ng-template #noLists>
  <mat-card>
    <mat-card-content>
      <p class="text-center">You have not added any lists. Please add one below to get started</p>
    </mat-card-content>
  </mat-card>
</ng-template>
