$error: (
  50 : #f7e0e0,
  100 : #eab3b3,
  200 : #dd8080,
  300 : #cf4d4d,
  400 : #c42626,
  500 : #ba0000,
  600 : #b30000,
  700 : #ab0000,
  800 : #a30000,
  900 : #940000,
  A100 : #ffbfbf,
  A200 : #ff8c8c,
  A400 : #ff5959,
  A700 : #ff4040,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);
