$orange: (
  50 : #ffebe0,
  100 : #fecdb3,
  200 : #feac80,
  300 : #fe8b4d,
  400 : #fd7226,
  500 : #fd5900,
  600 : #fd5100,
  700 : #fc4800,
  800 : #fc3e00,
  900 : #fc2e00,
  A100 : #ffffff,
  A200 : #fff1ef,
  A400 : #ffc4bc,
  A700 : #ffaea2,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
